/*******INPUTS STYLE OVVERIDE****/
body{
        margin:0;
        padding:0;
}
h6{
        margin-block-start:0;
        margin-block-end:0;
        padding:0;
}
.MuiInput-underline:before{
        border-bottom:1.5px solid rgba(255, 255, 255, 0.5) !important;
}
.MuiButton-root{
        padding:0 !important;
}
.MuiIconButton-root{
        padding:0 !important;
}
.MuiTab-root{
        padding: 0 !important;
}
.MuiTab-labelIcon .MuiTab-wrapper > *:first-child {
         margin-bottom: 2px !important;
    }